.navbar-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0px;
  align-items: stretch;
}
@media (max-width: 767px) {
  .navbar-container {
    display: none;
  }
}
.navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.nav-item {
  width: 100%;
  padding: 12px 15px 15px 12px;
}
.nav-link {
  font-family: 'roboto';
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}
.contact-heading {
  font-family: 'roboto';
  font-size: 14px;
  font-weight: 700;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.facebook-logo {
  width: 30px;
}
.twitter-logo {
  width: 30px;
}
.linked-in-logo {
  width: 30px;
}
.contact-description {
  font-family: 'roboto';
  font-size: 12px;
  text-align: flex-start;
}
.header-bg-dark {
  background-color: #212121;
}
.header-bg-light {
  background-color: #f1f1f1;
}
.dark-color-text {
  color: #ffffff;
}
.light-color-text {
  color: #212121;
}
